*{
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: pitch;
    src: url(TestPitchSans-Regular.otf);
}

button{
    cursor: pointer;
    border: solid 0px;
    padding: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: pitch;
    font-weight: 600;
}

button:hover{
    background-color: black;
    color: white;
}

#my-p5-container{
    height: 600px;;
    padding-bottom: 12px;;
    transition:  filter 300ms ease-in-out;
    cursor: pointer;
}

#my-p5-container:hover{
    filter: brightness(70%);
    transition:  filter 300ms ease-in-out;
}

.title{
    font-family: pitch;
    line-height: 77%;
    font-size: 52px;
    word-spacing: -20px;
    padding-bottom: 12px;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

.label{
    width: 340px;
    font-family: pitch;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.25px;;
}
nav{
    font-family: pitch;
    display: flex;
    padding-bottom: 12px;
    padding-top: 12px;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: solid black .5px;
    margin-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
}

.player{
    padding-left: 24px;
    padding-right: 24px;
}
